.wave-function-collapse_board
{
  .container {
    max-width: 800px;
  }

  .rotate-1 {
    transform: rotate(90deg);
  }
  .rotate-2 {
    transform: rotate(180deg);
  }
  .rotate-3 {
    transform: rotate(270deg);
  }
}