<div{{ attributes }}>
    <footer class="text-muted d-flex border-top">
        <div class="container-fluid">
            <ul class="nav nav-bottom justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>
