<footer className="text-muted d-flex border-top">
    <div className="container-fluid">
        <ul className="nav nav-bottom justify-content-end">
            <li className="nav-item">
            <Link className="nav-link" to={pathTo('contact')}>
                Contact
            </Link>
            </li>
        </ul>
    </div>
</footer>